a:hover{
    text-decoration: none;
    padding: 0;
}
button{
    padding: 0;
    border-radius: 2px;
    margin: 0 3px;
    display: flex;
}
form{
    margin: 0;
    color: #fff;
    font-size: 16px;
}
nav{
    padding: 0 !important;
}
.bg-light{
    background: transparent !important;
    justify-content: center;
}
.dropdown-item{
    background: #343a40;
}
.dropup .dropdown-menu{
    top: auto;
    bottom: 100%;
}
.p-4{
    padding: 5px 10px !important;
}
.button{
    line-height: 1;
    font-size: 20px;
    line-height: 1;
    height: 35px;
    width: 30px;
    color: #fff;
    background: #17a2b8;
    border: 0;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background: #138496;
    box-shadow: inset 0 0 7px rgb(0 0 0 / 10%);
    transition: .3s;
}
.background-color{
    background: #eea473;
    padding: 10px;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.darkbackground-color{
    background: #28323a !important;
}
.box{
    display: flex;
    justify-content: center;
    position: relative;
    height: 90%;
    align-items: center;
}
#canvas{
    cursor: pointer; 
}
.canvas-active{
    cursor: no-drop !important;
}
.absoluteRangeBar{
    background: #d8dcdf;
    opacity: 80%;
    padding: 10px;
    border-radius: 3px;
    color: #313538;
    position: absolute;
    top: 10;
    right: 10;
}
.absoluteRangeBar .rangeBar{
    font-size: 16px;
    display: block;
    line-height: 1;
}
.absoluteRangeBar .rangeBar div{
    display: flex;
}
.absoluteRangeBar .rangeBar label{
    display: flex;
}
.absoluteRangeBar .rangeBar label div{
    padding-left: 20px;
}
.absoluteRangeBar .rangeBar label .framerateValue{
    padding-left: 5px;
}
.absoluteRangeBar .updown{
    display: block;
    font-size: 30px;
}
.absoluteRangeBar .updown .first-type-updown{
    display: flex;
    padding: 8px 0;
    color: #fff;
}
.absoluteRangeBar .updown .first-type-updown div{
    height: 35px;
    width: 30px;
    background: #eea473;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.absoluteRangeBar .updown .first-type-updown div:hover{
    box-shadow: inset 0 0 7px rgb(0 0 0 / 60%);
    transition: .3s;
}
.absoluteRangeBar .updown .first-type-updown .btn{
    background: #eea473;
}
.absoluteRangeBar .updown .first-type-updown .btn:hover{
    box-shadow: inset 0 0 7px rgb(0 0 0 / 60%);
    transition: .3s;
}
.absoluteRangeBar .updown .first-type-updown .movingleft{
    margin: 0 3px;
}
.absoluteRangeBar .updown .first-type-updown .movingup{
    margin-right: 3px;
}
.absoluteRangeBar .updown .first-type-updown .movingright{
    margin: 0 3px;
}
.absoluteRangeBar .updown .first-type-updown .movingdown{
    margin: 0 3px;
}
.absoluteRangeBar .updown .first-type-updown .movingactive{
    box-shadow: inset 0 0 7px rgb(0 0 0 / 60%) !important;
    transition: .3s;
}
.absoluteRangeBar .generationHeader .generation{
    padding-left: 5px;
}
.absoluteRangeBar .magnification{
    padding-bottom: 2px;
}
.absoluteRangeBar .magnification span{
    padding-left: 5px;
}
.absoluteRangeBar .form-check .form-check-input{
    margin-left: -19px;
}
.bottom{
    background: #343a40;
    position: absolute;
    left: 0;
    bottom: 10;
    z-index: 1;
}
.bottom .listchanging-active{
    display: block;
    transition: 1s;
}
.bottom div div .form-example{
    line-height: 1;
    position: relative;
}
.bottom div div .form-example input{
    padding: 0;
    width: 30px;
    text-align: center;
}
.bottom div div .form-example .absoluteSquare{
    position: absolute;
    right: 0;
    top: 5px;
}
.bottom div div .form-example .absoluteSquare .square{
    font-size: 30px;
    height: 45px;
    width: 45px;
    color: #fff;
    border: 0;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom div div .form-example .absoluteSquare2{
    position: absolute;
    right: 0;
    top: 60px;
}
.bottom div div .form-example .absoluteSquare2 .square{
    font-size: 30px;
    height: 45px;
    width: 45px;
    color: #fff;
    border: 0;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom div div .form-example .absoluteSquare .square-active{
    box-shadow: inset 0 0 7px #eea473;
    transition: .3s;
}
.bottom div div .form-example .absoluteSquare .square:hover{
    box-shadow: inset 0 0 7px #eea473;
    transition: .3s;
}
.bottom div div .form-example .absoluteSquare2 .square-active{
    box-shadow: inset 0 0 7px #eea473;
    transition: .3s;
}
.bottom div div .form-example .absoluteSquare2 .square:hover{
    box-shadow: inset 0 0 7px #eea473;
    transition: .3s;
}
.bottom div div .form-example .absoluteAllColorChoose{
    position: absolute;
    top: 110px;
    right: 3px;
    text-align: center;
}
.bottom div div .form-example .absoluteAllColorChoose .secondAllColorChoose{
    color: #f5f0f0;
    display: block;
}
.bottom div div .form-example .secondAllColorChoose div input{
    padding: 0;
    margin: 4px;
    width: 30px;
}
.bottom div div .form-example .secondAllColorChoose:hover{
    background: #343a40;
    color: #f5f0f0;
    box-shadow: none;
}

.bottom div div .form-example .keyboardTheme div{
    padding: 5px 0;
}
.bottom div div .form-example .keyboardTheme div span{
    padding-left: 10px;
}
.bottom div div .form-example .rule{
    display: block;
}
.bottom div div .form-example .rule div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
}
.bottom div div .form-example .rule label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-right: 5px;
}
.bottom div div .form-example .rule label span{
    padding-left: 5px;
}
.bottom div div .fillInPattern{
    color: #fff;
}
.bottom div div .fillInPattern .form-group label{
    margin: 3px 0;
}
.bottom div div .fillInPattern .form-group .form-control{
    line-height: 1;
    padding: 0;
    font-size: 20px;
    border-radius: 2px;
}
.bottom div div .fillInPattern .form-group{
    margin-bottom: 0;
}

.bottom div div .fillInPattern .form-group .submitButton{
    margin-top: 13px;
    border: 0;
}
.bottom nav .three-line{
    padding: 0;
}
.bottom nav .three-line span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar{
    margin-top: 10px;
    position: relative;
}
.header-bar #navigation{
    margin-bottom: 0;
    background: #343a40;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
    line-height: 1.0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header-bar #navigation a{
    padding: 0;
}
.header-bar #navigation li{
    position: relative;
    text-decoration: none;
    list-style: none;
}

.header-bar #navigation li a{
    padding: 25px;
    font-size: 16px;
    color: #f5f0f0;
}
.header-bar #navigation li div{
    padding: 0;
}
.header-bar #navigation li .active{
    background: #eea473;
    color: #fff;
    box-shadow: inset 0 0 15px #000;
    transition: box-shadow .01s;
}
.header-bar #navigation li #start-button{
    display: flex;
    align-items: center;
    padding: 23px 25px;
    position: relative;
}
.header-bar #navigation li #reset-game{
    display: flex;
    align-items: center;
    padding: 23px 25px;
    position: relative;
}
.header-bar #navigation li div a{
    font-size: 16px;
    color: #f5f0f0;
    padding: 15px 55px 15px 15px;
}
.header-bar #navigation li #start-button i{
    font-size: 20px;
}
.header-bar #navigation li #reset-game i{
    font-size: 20px;
}
.header-bar #navigation li .start-button .start i{
    font-size: 20px;
}
.header-bar #navigation li:hover{
    background: #eea473;
    color: #fff;
    box-shadow: inset 0 0 15px #000;
    transition: .3s;
}
.header-bar #navigation li div a:hover{
    background: #eea473;
    color: #fff;
    box-shadow: inset 0 0 15px #000;
    transition: .3s;
}
.header-bar #navigation .allColorChoose{
    color: #f5f0f0;
}
.header-bar #navigation .allColorChoose div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bar #navigation .allColorChoose div input{
    padding: 0;
    margin: 2px;
    width: 30px;
}
.header-bar #navigation .allColorChoose .gameOfLife{
    padding: 0 0 0 10px !important;
    font-size: 30px !important;
    color: #eea473 !important;
}
.header-bar #navigation .allColorChoose .gameOfLife:hover{
    color: #f5f0f0 !important;
    box-shadow: none !important;
    border-bottom: 0; 
}
.header-bar #navigation .allColorChoose:hover{
    background: #343a40;
    color: #f5f0f0;
    box-shadow: none;
}