a:hover{
    text-decoration: none;
    padding: 0;
}
body{
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}
html{
    scroll-behavior: smooth;
}
.ml-auto, .mx-auto{
    margin-right: auto!important;
}
.nav-link{
    padding: 0;
}
#mainNav{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #212529;
}
#mainNav button{
    margin: 10px 10px 10px 0;
}
.contact{
    margin: 100px 0;
}
.contact .masthead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 400px;
    padding-bottom: 400px;
    text-align: center;
    background-image: url("./WEF011assets/evolution.png");
    background-position: center center;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
#services{
    padding-top: 250px;
    margin-bottom: 250px;
}
#services div div div .computerIcon{
    display: flex;
    justify-content: center;
}
#services div div div .computerIcon a{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background: #eea473;
    border-radius: 120px;
    color: #fff;
}
#gameOfLife{
    padding-top: 100px;
    margin-bottom: 120px;
}
#gameOfLife .relative{
    position: relative;
}
#gameOfLife div div div div .carousel-indicators{
    position: absolute;
    left: 0;
    text-align: center;
    bottom: -30px;
    margin: 0;
}
#gameOfLife div div div div .carousel-indicators li{
    background: rgba(255,255,255,1);
    cursor: pointer;
    box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
}
#gameOfLife div div div div .carousel-indicators li:hover{
    background: rgba(255,255,255,0.4);;
}
#gameOfLife div div div div .carousel-indicators .active{
    background: #353535;
}
#gameOfLife div div div div .carousel-inner .carousel-item .slide-text-wrap{
    position: absolute;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.8);
}
#gameOfLife div div div div .carousel-inner .carousel-item .slide-text-wrap .slide-text{
    color: #fff;
    padding: 30px 25px 25px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#gameOfLife div div div div .carousel-inner .carousel-item .slide-text-wrap .slide-text div{
    color: #fff;
    padding: 8px 0 10px 0;
    border-bottom: solid 3px #fff;
}
#gameOfLife div div div div .carousel-inner .carousel-item .slide-text-wrap .slide-text .slide-more{
    padding: 12px 0 12px 0;
    border-top: solid 3px #fff;
    border-bottom: solid 1px rgba(255,255,255,0.2) !important;
}

#gameOfLife div div div div .carousel-inner .carousel-item .absoluteButton{
    position: absolute;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}
#gameOfLife div div div div .carousel-inner .carousel-item .absoluteButton .sizechange{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 5px;
    width: 100%;
}
.buttonactive{
    display: block;
}
.aboutmeabsolute{
    position: absolute;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    display: flex;
    background: rgb(109, 106, 106);
    padding: 30px 0;
    border-radius: 4px;
}
.aboutmeabsolute .crosscolor{
    position: absolute;
    right: 5px;
    top: 3px;
}
.aboutmeabsolute .crosscolor .imageflex{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100%;
    cursor: pointer;
}
.aboutmeabsolute .crosscolor .imageflex i{
    font-size: 20px;
}
.aboutmeabsolute .question{
    color: #cfc9c9;
    margin-bottom: 1vw;
    font-weight: bold;
}
.aboutmeabsolute .answer{
    color: #ffffff;
    margin-bottom: 3vw;
    opacity: 40%;
}
.aboutmeabsolute .center-name{
    display: flex;
    justify-content: center;
}
.aboutmeabsolute .center-name .centername-block{
    display: block;
}
.nodisplay{
    display: none;
}